<title>Chat</title>

<section class="chat-cotainer">
    <div class="root">
        <div class="user-div">
            <div class="head">
                <h3>{{username}}</h3>
                {{!-- <a href="/auth/logout">Log Out</a> --}}
                <i class="bi bi-three-dots-vertical dmenu"></i>

                <div class="dropdown-menu">
                    <div class="menu">
                        <a href="">Account</a>
                        <p id="create-room">Create Room</p>
                        <a style="color: red;" href="/auth/logout">logout</a>
                    </div>
                </div>
            </div>

            {{!-- group Popup --}}

            <div class="group-popup">
                <i class="bi bi-x-lg" id="close-popup"></i>
                <h3>Create Group</h3>
                <form action="/create-room" method="post"  enctype="multipart/form-data">
                    <input type="text" name="room_name" placeholder="Room Name" required>
                    <br>
                    <input type="file" name="room_img" required>
                    <br>
                    <button>Create</button>
                </form>
            </div>

            <div class="search">
                <form action="/search" method="post">
                    <input type="text" name="search" placeholder="Search..! User">
                    <button>Search</button>
                </form>
            </div>
            {{#each user}}
            <div class="users">
                <img src="/profile/{{this.img}}" alt="user@email.in">
                <div class="info">
                    {{#if this.email}}
                    <p>{{this.email}}</p>
                    {{else}}
                    <p>{{this.name}}</p>
                    {{/if}}
                    <p id="toid" style="display: none;">{{this._id}}</p>
                    {{#if this.status}}
                    <span class="online">Online</span>
                    {{else if this.type}}
                    <span style="color: rgb(12, 241, 241);">{{this.type}}</span>
                    {{else}}
                    <span class="offline">Offline</span>
                    {{/if}}

                </div>
            </div>
            {{/each}}
        </div>
        <div class="chat-div">
            <div class="user-name">
                <a href="/"><img src="/img/back-icon.png" alt="back-icon"></a>
                <h1 class="none" id="chat-username">UserName</h1>
                <p id="fromid" style="display: none;">{{fromuser._id}}</p>
            </div>
            <div class="chat-box none" id="chat-box">
                {{!-- message Box--}}
            </div>
            <form class="input-box none" id="form">
                <input type="text" value="{{fromuser._id}}" style="display: none;" id="statusid">
                <input type="text" placeholder="Message" class="none" id="input">
                <button class="none">Send</button>
            </form>
            <div class="none-mes">
                <span class="chat-now">Chat Now</span>
            </div>
        </div>
    </div>
</section>

<script src="/js/chat.js"></script>